<div>
  <button class="primary image add-contact" routerLink="/contacts/edit">
    <img ngSrc="/plus-no-circle.png" class="button-image" alt="" height="20" width="20"/>
    Add Contact
  </button>
  <h2>
    Favorite Contacts
  </h2>
  <table>
    <thead>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
    </thead>
    <tbody>

      @for (contact of favouriteContacts(); track trackById($index, contact)) {
        <tr [routerLink]="['/contacts/edit', contact.id]">
          <td>{{ contact.firstName }} {{ contact.lastName }}</td>
          <td>@if (contact.phones && contact.phones.length > 0) {
            <span>{{ contact.phones[0].phoneNumber }}</span>
          }</td>
          @if (contact.address && contact.address.length > 0) {
            <td>
              {{ contact.address[0].streetAddress }}, {{ contact.address[0].city }},
              {{ contact.address[0].state }},
              {{ contact.address[0].postalCode }}
            </td>
          }
        </tr>
      } @empty {
        <tr>
          <td class="center" colspan="3">You have no contacts</td>
        </tr>
      }

    </tbody>
  </table>
  <h2>
    All Contacts
  </h2>
  <table>
    <thead>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
    </thead>
    <tbody>
      @for (contact of contacts(); track contact.id) {
        <tr [routerLink]="['/contacts/edit', contact.id]">
          <td>{{ contact.firstName }} {{ contact.lastName }}</td>
          <td>@if (contact.phones) {
            <span>{{ contact.phones[0].phoneNumber }}</span>
          }</td>
          @if (contact.address) {
            <td>
              {{ contact.address[0].streetAddress }}, {{ contact.address[0].city }},
              {{ contact.address[0].state }},
              {{ contact.address[0].postalCode }}
            </td>
          }
        </tr>
      } @empty {
        <tr>
          <td class="center" colspan="3">You have no contacts</td>
        </tr>
      }
    </tbody>
  </table>
</div>
